* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Cormorant Garamond", serif;
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
    p, li {
        font-family: "Montserrat", sans-serif;
    }
}

.main-section {
    flex: 0 1 40vw;
    padding: 20px;
}

.navBar {
    display: flex;
    justify-content: space-between;
    align-items: center;
        p {
        font-family: "Cormorant Garamond", serif;
        font-size: 1.2rem;
        margin-left: 20px;
        color: #000000;
        }

        .nav {
        display: flex;
        gap: 20px;

            li {
            list-style: none;
            gap: 10px;
            font-family: "Cormorant Garamond", serif;
                a {
                color: #000000;
                text-decoration: none;
                font-size: 1rem;
                }
            }
        }
}

.header_section {
    padding-top: 200px;
    padding-left: 20px;
    padding-right: 20px;
        h1 {
        font-size: 3rem;
        }

        #role {
        font-size: 1.8rem;
        }

        .contact_information {
            list-style: none;
            li {
            font-size: 0.9rem;
            margin: 10px 0;
                a {
                color: #000000;
                margin: 0 5px;
                }
            }
        }
}

.info_section {
    padding-top: 200px;
    padding-left: 20px;
    padding-right: 20px;

    h2 {
        font-size: 2rem;
        margin-bottom: 20px;
    }

    p {
    font-size: 0.9rem;
    line-height: 30px;
    }
}

.skill, .achievements, .experience, .education {
    ul {
    line-height: 30px;
    font-size: 0.9rem;
    list-style: none;
    }
}

.contact {
    b {
        p {
        font-size: 0.9rem;
        }
    }
    p {
        a {
            color: black;
        }
    }
}

.footer {
    text-align: center;
    p {
        font-size: 0.9rem;
    }
}

.profile-pic-section {
    flex: 0 1 40vw;
    height: 100vh;
    background-color: #af948b;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    right: 0;
    top: 0;

    img {
    width: 50%;
    }
}